## Salazar, Mart Anthony A.
BSIT-3C

In [ ]:
import pandas as pd

In [ ]:
# making data frame from csv file
df = pd.read_csv("employees1.csv")

In [14]:
df.isnull().values.any()

True

In [13]:
# Check structure of dataframe
df.info()
print("\nSalazar, Mart Anthony A.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

Salazar, Mart Anthony A.

## Salazar, Mart Anthony A.
## BSIT-3C

In [8]:
df2 = pd.read_csv("SleepData.csv")

In [10]:
df2.isnull().values.any()

True

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sex                    668 non-null    object
 1   Age                    671 non-null    int64
 2   MaritalStatus          669 non-null    object
 3   Employment             668 non-null    object
 4   sleep(hrs)/weeknights  670 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 26.3+ KB