<a href="https://colab.research.google.com/github/mart-anthony-stark/Machine-Learning-and-Deep-Learning/blob/main/Music_age_genre_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd

## Load the dataset

In [43]:
# ! unzip music.csv.zip

In [44]:
df = pd.read_csv('music.csv')

In [45]:
df.shape

(18, 3)

In [46]:
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [47]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [48]:
df.isna().sum()

age       0
gender    0
genre     0
dtype: int64

In [49]:
X = df.drop(columns=['genre'])
y = df['genre']
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

## Convert categorical to numeric

In [50]:
target_classes = list(y.unique())
target_classes

['HipHop', 'Jazz', 'Classical', 'Dance', 'Acoustic']

In [51]:
mapping = {"HipHop": 0, "Jazz": 1, "Classical": 2, "Dance": 3, "Acoustic": 4}

In [52]:
# y = y.replace(mapping)
# y

## Split training data

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Training data

In [54]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
X_test, predictions

(   age  gender
 5   30       1
 2   25       1
 9   20       0
 3   26       1, array(['Jazz', 'HipHop', 'Dance', 'Jazz'], dtype=object))

## Measure accuracy

In [55]:
score = accuracy_score(y_test, predictions)
score

1.0